@model RepostIt.Models.Comment;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="commentText" class="control-label"></label>
                <textarea asp-for="commentText" class="form-control" ></textarea>
                <span asp-validation-for="commentText" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" value="@User.Identity.Name" asp-for="name" class="form-control" />

            </div>
            <div class="form-group">

                <input type="hidden" value="@ViewBag.postid" asp-for="postId" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-danger" asp-action="Index">Back to List</a>
</div>

